/* HeroSection.css */
.hero-container {
    height: 100vh;
    background: linear-gradient(#041c6c, #cc042c);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    overflow: hidden;
  }
  
  .character {
    width: 150px;
    margin-top: 20px;
  }
  